{{#each contents as |content|}}

  <ul class="content" data-id="{{content.id}}">
    <li> Id: {{content.id}} </li>
    <li> Title: {{content.title}} </li>
    <li> Date: {{content.date}} </li>
    <li> Text: {{content.text}} </li>
  </ul>

{{/each}}
