{{#each contents as |content|}}
<!-- for PAGE list -->
{{#if content.editable}}
  <ul data-id="{{content.id}}">
    <li> <strong>Title:<br></strong> {{content.title}}</li>
    <li><strong>Date:<br></strong> {{content.date}} </li>
    <li><strong>Text:<br></strong> {{content.text}}</li>
    <li><strong>Type: </strong> {{content.type}}</li>
    <li><button class="btn btn-info btn-sm delete-content">Delete Content</button></li>
    <li><button class= "edit-content btn btn-info btn-sm">Edit Content</button></li>
    <li><button class= "save-content btn btn-info btn-sm">Save Changes</button></li>
  </ul>
{{/if}}
{{/each}}
